.seachPage__info {
  padding: 20px;
}

.seachPage__info > button {
  border-radius: 30px;
  text-transform: inherit;
  margin: 5px;
}

.seachPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.seachPage__info > h1 {
  margin-bottom: 30px;
}
